<div class="home-wrapper">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    THE PREMIER CHOICE IN CAR SERVICES.
                </h1>
                <p>
                    Managing. Leasing. Selling. Our comprehensive car rental management app is designed to meet all your
                    property needs.
                </p>
                <a class="btn btn-primary" (click)="RentClick()">
                    <div class="text">
                        Rent a Car
                    </div>
                    <div class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-arrow-up-right">
                            <line x1="7" y1="17" x2="17" y2="7"></line>
                            <polyline points="7 7 17 7 17 17"></polyline>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <img class="main-img" src="/image.jpg" />
            </div>
        </div>
    </div>
</div>