<div class="cars-wrapper">
    <div class="container">
        <div class="flex flex-row justify-between items-center">
            <h2>Available Cars</h2>
            <a class="btn btn-success" (click)="addCar()">Add Car</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Rental Price (per day)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.rentalPricePerDay }}</td>
                    <td>
                        <a class="btn btn-primary mr-2" (click)="editCar(car)">Edit</a>
                        <a class="btn btn-info mr-2" (click)="viewCarDetails(car)">
                            Details
                        </a>
                        <a class="btn btn-danger" (click)="openDeleteModal(car)">Delete</a>
                    </td>
                </tr>
            </tbody>
            <div *ngIf="cars.length === 0">No cars available</div>
            <div *ngIf="loading" class="spinner" role="status">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </table>
    </div>
    <app-delete *ngIf="selectedCar" [car]="selectedCar" (onDeleteConfirmed)="handleDeleteConfirmed()"
        (onCancel)="handleDeleteCancelled()">
    </app-delete>
</div>