<div class="cars-wrapper">
    <div class="container">
        <div class="flex flex-row justify-between items-center">
            <h2>Available Cars</h2>
            <a class="btn btn-success" (click)="addCar()">Add Car</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Rental Price (per day)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.rentalPricePerDay }}</td>
                    <td>
                        <a class="btn btn-primary mr-2" (click)="editCar(car)">Edit</a>
                        <a class="btn btn-danger" (click)="deleteCar(car)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>