@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.cr-body-wrapper {
    height: 100vh;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(24px, 5vw, 36px);
    font-weight: 900;
    margin: 0;
}
